<a href="https://colab.research.google.com/github/suhyeon0325/multicamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- Dictionary
- 구성: key-value, keyword(=key), 결괏값(=value)
  + 문자열, 리스트, tuple: 데이터 조회 시, 인덱싱 또는 슬라이싱
  + 딕셔너리에서 값을 조회하는 방법은 key 값을 통해서 값을 조회

In [3]:
# 나라-수도 이름
country_capital = {
    "대한민국" : "서울",
    "일본" : "도쿄",
    "프랑스" : "파리",
    "영국" : "런던"
    }

country_capital

{'대한민국': '서울', '일본': '도쿄', '프랑스': '파리', '영국': '런던'}

In [6]:
# 딕셔너리에서 value 값을 조회하는 방법은 key 값을 통해 조회
country_capital['대한민국']

'서울'

In [9]:
# key값은 중복으로 만들 수 없음
country_capital['미쿡']

KeyError: ignored

In [10]:
data = {1 : '버스', 3 : '비행기'}
data

{1: '버스', 3: '비행기'}

In [ ]:
# 숫자 1은 리스트, 문자열, tuple 인덱스 번호와는 다른 숫자
# 현재 여기에서 숫자 1은 key 값
data[1]

In [11]:
data2 = {'list' : [1, 2, 3], 'list2': [4, 5, 6]}
data2

{'list': [1, 2, 3], 'list2': [4, 5, 6]}

In [14]:
data3 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6], 1 : '테스트', 2 : 100}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석: 엑셀 테이블
  + 1억개, 데이터 가공 (최소 1-2시간 가공작업)
  + 임시 테이블

- HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
- JSON 데이터 포맷 ==> 딕셔너리와 동일
  + API 데이터 크롤링, 기본 자료형(JSON) => 딕셔너리 변환, 변환 후 데이터 가공

## 딕셔너리 다루기

In [19]:
# 내가 좋아하는 도시 이름
country_capital['대한민국'] = '부산'
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': '파리', '영국': '런던'}

In [21]:
# del
del country_capital['영국']

In [22]:
country_capital['프랑스'] = None
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': None}

In [23]:
country_capital['미국'] = '워싱턴'
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': None, '미국': '워싱턴'}

## 딕셔너리 메서드

In [29]:
print(type(country_capital))  # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
# dict_data (객체명)
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '일본', '프랑스', '미국'])

In [31]:
# 딕셔너리에서 키 전체를 리스트 형태로 반환
print(type(country_capital.keys()))

<class 'dict_keys'>

In [32]:
# 데이터 형변환
list(country_capital.keys())

['대한민국', '일본', '프랑스', '미국']

In [27]:
country_capital.values()

dict_values(['부산', '도쿄', None, '워싱턴'])

In [28]:
country_capital.items()

dict_items([('대한민국', '부산'), ('일본', '도쿄'), ('프랑스', None), ('미국', '워싱턴')])

In [33]:
new_df = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}

country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '일본': '도쿄',
 '프랑스': None,
 '미국': '워싱턴',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [34]:
country_capital.clear()  # 빈 Dictionary 생성
country_capital

{}

In [35]:
result = list(country_capital.keys())  # 리스트로 클래스 변환
result.append('독일')

In [36]:
result

['독일']

# If 조건문
- 프로그래밍에서 조건문
  + 만약 조건이 True라면 ~를 해라
  + 참과 거짓을 만드는 것이 포인트

In [37]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")

점수를 입력하세요80

In [38]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")
else:
  print("불합격")

점수를 입력하세요80
불합격

In [39]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")

elif x>= 80:
  print("부분합격, 면접 필요")

else:
  print("불합격")

점수를 입력하세요80
부분합격, 면접 필요

# 문제
- 학생 성적에 따라서 여러분들이 등급을 정한다.
- A, B, C, D, F
- 점수는 0에서 100점
  + 90점 이상 1등급
  + 80점 이상 2등급
  + 70점 이상 3등급
  + 그 이하는 4등급

In [43]:
x = int(input("점수를 입력하세요"))
if x >= 90:
  print("1등급")

elif x >= 80:
  print("2등급")

elif x >= 70:
  print("3등급")

else:
  print("4등급")

점수를 입력하세요78
3등급

In [47]:
# 중첩 조건문
# if 조건문 내부에 또다른 조건문 생성
x = int(input("점수를 입력하세요..."))

if x>= 90:

  if x == 100:
    print("장학금 수여")

  else:
    print("합격")

else:
  print("불합격")

점수를 입력하세요...99
합격

# 반복문
- for-loop, while
- 반복문의 필요성

In [55]:
for i in range(14):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

## for-loop 특징
- 반복 범위가 주어짐

In [52]:
for i in range(3):
  print(f'{i}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

In [54]:
for idx in range(3):
  print(f'{idx}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

- 반복 범위 지정 시, 시퀀스 자료형도 사용 가능

In [56]:
nums = [1, 2, 3, 4, 5]
for num in nums:
  print(num)

1
2
3
4
5

In [57]:
strings = "Hello"
for text in strings:
  print(text)

H
e
l
l
o

In [58]:
tuples = (1, 2, 3, 4)
for num in tuples:
  print(num)

1
2
3
4

In [63]:
country_capital = {
    "대한민국" : "서울",
    "일본" : "도쿄",
    "프랑스" : "파리",
    "영국" : "런던"
    }

country_capital

for country in country_capital:
  print(country) # key 값만 출력, 원하는 것은 value 값
  print(country_capital[country])

대한민국
서울
일본
도쿄
프랑스
파리
영국
런던

In [65]:
for country in country_capital:
  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국의 수도는 서울이다.
일본의 수도는 도쿄이다.
프랑스의 수도는 파리이다.
영국의 수도는 런던이다.