<a href="https://colab.research.google.com/github/suhyeon0325/multicamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- Dictionary
- 구성: key-value, keyword(=key), 결괏값(=value)
  + 문자열, 리스트, tuple: 데이터 조회 시, 인덱싱 또는 슬라이싱
  + 딕셔너리에서 값을 조회하는 방법은 key 값을 통해서 값을 조회

In [ ]:
# 나라-수도 이름
country_capital = {
    "대한민국" : "서울",
    "일본" : "도쿄",
    "프랑스" : "파리",
    "영국" : "런던"
    }

country_capital

{'대한민국': '서울', '일본': '도쿄', '프랑스': '파리', '영국': '런던'}

In [ ]:
# 딕셔너리에서 value 값을 조회하는 방법은 key 값을 통해 조회
country_capital['대한민국']

'서울'

In [ ]:
# key값은 중복으로 만들 수 없음
country_capital['미쿡']

KeyError: ignored

In [ ]:
data = {1 : '버스', 3 : '비행기'}
data

{1: '버스', 3: '비행기'}

In [ ]:
# 숫자 1은 리스트, 문자열, tuple 인덱스 번호와는 다른 숫자
# 현재 여기에서 숫자 1은 key 값
data[1]

In [ ]:
data2 = {'list' : [1, 2, 3], 'list2': [4, 5, 6]}
data2

{'list': [1, 2, 3], 'list2': [4, 5, 6]}

In [ ]:
data3 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6], 1 : '테스트', 2 : 100}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석: 엑셀 테이블
  + 1억개, 데이터 가공 (최소 1-2시간 가공작업)
  + 임시 테이블

- HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
- JSON 데이터 포맷 ==> 딕셔너리와 동일
  + API 데이터 크롤링, 기본 자료형(JSON) => 딕셔너리 변환, 변환 후 데이터 가공

## 딕셔너리 다루기

In [ ]:
# 내가 좋아하는 도시 이름
country_capital['대한민국'] = '부산'
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': '파리', '영국': '런던'}

In [ ]:
# del
del country_capital['영국']

In [ ]:
country_capital['프랑스'] = None
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': None}

In [ ]:
country_capital['미국'] = '워싱턴'
country_capital

{'대한민국': '부산', '일본': '도쿄', '프랑스': None, '미국': '워싱턴'}

## 딕셔너리 메서드

In [ ]:
print(type(country_capital))  # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
# dict_data (객체명)
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '일본', '프랑스', '미국'])

In [ ]:
# 딕셔너리에서 키 전체를 리스트 형태로 반환
print(type(country_capital.keys()))

<class 'dict_keys'>

In [ ]:
# 데이터 형변환
list(country_capital.keys())

['대한민국', '일본', '프랑스', '미국']

In [ ]:
country_capital.values()

dict_values(['부산', '도쿄', None, '워싱턴'])

In [ ]:
country_capital.items()

dict_items([('대한민국', '부산'), ('일본', '도쿄'), ('프랑스', None), ('미국', '워싱턴')])

In [ ]:
new_df = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}

country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '일본': '도쿄',
 '프랑스': None,
 '미국': '워싱턴',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
country_capital.clear()  # 빈 Dictionary 생성
country_capital

{}

In [ ]:
result = list(country_capital.keys())  # 리스트로 클래스 변환
result.append('독일')

In [ ]:
result

['독일']

# If 조건문
- 프로그래밍에서 조건문
  + 만약 조건이 True라면 ~를 해라
  + 참과 거짓을 만드는 것이 포인트

In [ ]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")

점수를 입력하세요80

In [ ]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")
else:
  print("불합격")

점수를 입력하세요80
불합격

In [ ]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:
  print("합격")

elif x>= 80:
  print("부분합격, 면접 필요")

else:
  print("불합격")

점수를 입력하세요80
부분합격, 면접 필요

# 문제
- 학생 성적에 따라서 여러분들이 등급을 정한다.
- A, B, C, D, F
- 점수는 0에서 100점
  + 90점 이상 1등급
  + 80점 이상 2등급
  + 70점 이상 3등급
  + 그 이하는 4등급

In [ ]:
x = int(input("점수를 입력하세요"))
if x >= 90:
  print("1등급")

elif x >= 80:
  print("2등급")

elif x >= 70:
  print("3등급")

else:
  print("4등급")

점수를 입력하세요78
3등급

In [ ]:
# 중첩 조건문
# if 조건문 내부에 또다른 조건문 생성
x = int(input("점수를 입력하세요..."))

if x>= 90:

  if x == 100:
    print("장학금 수여")

  else:
    print("합격")

else:
  print("불합격")

점수를 입력하세요...99
합격

# 반복문
- for-loop, while
- 반복문의 필요성

In [ ]:
for i in range(14):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

## for-loop 특징
- 반복 범위가 주어짐

In [ ]:
for i in range(3):
  print(f'{i}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

In [ ]:
for idx in range(3):
  print(f'{idx}번째 Hello Python')

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

- 반복 범위 지정 시, 시퀀스 자료형도 사용 가능

In [ ]:
nums = [1, 2, 3, 4, 5]
for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
strings = "Hello"
for text in strings:
  print(text)

H
e
l
l
o

In [ ]:
tuples = (1, 2, 3, 4)
for num in tuples:
  print(num)

1
2
3
4

In [ ]:
country_capital = {
    "대한민국" : "서울",
    "일본" : "도쿄",
    "프랑스" : "파리",
    "영국" : "런던"
    }

country_capital

for country in country_capital:
  print(country) # key 값만 출력, 원하는 것은 value 값
  print(country_capital[country])

대한민국
서울
일본
도쿄
프랑스
파리
영국
런던

In [ ]:
x = '대한민국'
country_capital[x]

'서울'

In [ ]:
print(f'대한민국의 수도는 서울이다')
x = '프랑스'
print(f'{x}의 수도는 {country_capital[x]}이다.')

대한민국의 수도는 서울이다
프랑스의 수도는 파리이다.

In [ ]:
for country in country_capital:
  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국의 수도는 서울이다.
일본의 수도는 도쿄이다.
프랑스의 수도는 파리이다.
영국의 수도는 런던이다.

In [ ]:
# 중첩 포문
# 반복문 내 또 다른 반복문
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

# print('x1 y1')
# print('x1 y2')
# print('x2 y1')
# print('x2 y2')

for x in x_list:
  # print(X)
  for y in y_list:
    print(x, y)

x1 y1
x1 y2
x2 y1
x2 y2

## 구구단
- 2 x 1 = 2

In [ ]:
x = 2
y = 1
f'{x} * {y} = {x * y}'

'2 * 1 = 2'

In [ ]:
x_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for x in x_list:
  for y in y_list:
    print(f'{x} * {y} = {x * y}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for x in range(1, 10):
  for y in range(1, 10):
    print(f'{x} * {y} = {x * y}')
  print("---")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
---

In [ ]:
names = ["A", "B", "C"]
ages = [10, 20, 30]

for name, age in zip(names, ages):
  print(name, age)

A 10
B 20
C 30

In [ ]:
names = ["A", "B", "C"]
for idx, name in enumerate(names):
  print(idx, name)

0 A
1 B
2 C

## While 특징
- for-loop 특징: 항상 반복문의 범위를 지정한다.
  + 몇번 반복문을 수행할지 숫자로 컨트롤 가능
- While 특징
  + 조건문이 False가 될 때까지 반복문을 수행
  + 조건문이 True면 반복문은 무한 수행

In [ ]:
# 초깃값 지정
i = 1
n = 3

while i <= n:  # i <= 3, True
  print(f'현재 {i} 번')
  i = i + 1

현재 1 번
현재 2 번
현재 3 번

## for-loop, while 비교
- only 데이터 분석만 하겠다. => for-loop만 집중 공부
  + 행과 열은 거의 고정
  + 범위가 주어져 있음

- 개발자로 경력을 쌓고 싶다. => for-loop, while문 둘 다 제대로 익혀야함
  + 카메라 켜진 상태에서, 필터를 추가한다...
  + 범위가 정해지지 않음
    + 카메라 on -> True
    + 카메라 off -> False

## break 문
- 중간에 반복문 강제 종료
  + 특정 시점에 반복문 강제 종료

In [81]:
# 초깃값 지정
i = 1
n = 3

while True:  # i <= 3, True
  print(f'현재 {i} 번')
  i = i + 1

  if i >= 5:
    break

i = i + 1

현재 1 번
현재 2 번
현재 3 번
현재 4 번

In [82]:
for i in range(10):
  print(f'현재 {i} 번')
  if i > 5:
    break

현재 0 번
현재 1 번
현재 2 번
현재 3 번
현재 4 번
현재 5 번
현재 6 번