<a href="https://colab.research.google.com/github/suhyeon0325/multicamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH.3 파이썬을 계산기처럼

## 사칙연산

In [1]:
1+1

2

In [2]:
5-2

3

In [3]:
5 -2

3

In [5]:
15*2

30

In [6]:
#나눗셈
10/2    # 정수 / 정수  ==> 반환값은 실수형으로 반환

5.0

## 실수연산

In [11]:
print(1.2 + 5.2)   #덧셈
print(3.4 - 2.1)   #뺄셈
print(2.2 * 5.1)   #곱셈
print(8.2 / 4.1)   #나눗셈

6.4
1.2999999999999998
11.22
2.0

In [ ]:
# 웹개발, IDE 환경에서 print()는 필수

### 연산규칙
- (1) 괄호안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [13]:
print(2 + 3 * 4)

14

In [14]:
print(3 / 2 * 4 - 5 / 2)

3.5

In [15]:
print((5 * 4 - 15) + (5 - 2) * (9 - 7))

11

## type()
- 함수: 특정 기능을 수행하도록 만든 매직박스
  + 조건을 맞추면 특정함수가 동작

함수의 종류
- 내장함수: built-in function, 파이썬 설치와 함께 제공하는 기본적인 함수
  + print, type
  + 종류가 몇 개인가? 모른다...
  + 함수를 설명해주는 문서 보는 법 읽힐 것 (영어)

- 라이브러리에서 제공하는 함수
  + R에서는 패키지라고 부르고, 파이썬에서는 라이브러리라고 부름
  + 목적이 분명.
    - 웹사이트 개발: 웹사이트 관련 라이브러리를 별도 설치 필요
    - 통계 분석: 통계분석과 관련된 라이브러리를 별도 설치 필요
    - 시각화: 시각화 관련된 라이브러리 설치
    - 게임 개발: 게임개발과 관련된 라이브러리 설치

In [18]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [19]:
print(type(3.5))

<class 'float'>

In [20]:
print(type(~~~))

SyntaxError: ignored

- 파이썬은 객체지향 언어입니다.

## 거듭 제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
  + A는 밑, n은 지수라고 표현

In [21]:
2 * 2 * 2 * 2 * 2

32

In [22]:
2 ** 5

32

- 나머지 구하는 방법

In [23]:
13 % 5  #나머지

3

In [24]:
13 // 5  # 몫

2

## 과학적 표기법(Scientific Notation)
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
  + 빛은 초당 30만 km
  + 단위를 m/s 표현하면, 300,000,000m/s
  + 3x10^8

In [25]:
3*10**8

300000000

In [26]:
3e8

300000000.0

In [33]:
3e-4

0.0003

In [32]:
1e-4

0.0001

## 진수 표현과 변환
- 우리는 일상생활에서는 10진법
- 60진법: 60초가 1분이고, 60분이 1시간
- 12진법: 오전 12시간, 오후 12시간; 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법: 0~7
- 16진법: 0~9; a,b,c,d,e,f
- 메서드
  + bin(): 10진수를 2진수로
  + oct(): 10진수를 8진수로
  + hex(): 10진수를 16진수로

In [34]:
17  # 10진법

17

In [36]:
0b10001  # 2진법

17

In [37]:
0o21  # 8진법

17

In [38]:
0x11  # 16진법

17

## 논리 연산 및 비교 연산(중요)
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [39]:
print(True)

True

In [40]:
print(False)

False

In [41]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and: A and B: A와 B 모두 참일 때 참이면 참, 둘다 거짓일 때 거짓

- or: A or B: A와 B 중 하나라도 참이면 참, 둘 다 거짓일 때 거짓

- not: not A: A가 참일 때 거짓, A가 거짓이면 참

In [44]:
# 교집합
print(True and True)
print(True and False)
print(False and True)

True
False
False

In [46]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [45]:
not False

True

In [47]:
# True 또는 False 결과가 나오도록 의도적으로 조건식을 만들어야 함
1 == 2  # a와 b가 같다

False

In [48]:
1 != 2  # a와 b는 같지 않다

True

In [49]:
1 <= 2  # a는 b보다 작거나 같다

True

In [50]:
1 < 2 # a가 b보다 작다

True

In [51]:
1 >= 2 # a가 b보다 크거나 같다

False

In [52]:
1 > 2 # a가 b보다 크다

False

### 비교연산자 + 논리연산자

In [54]:
1 > 0 and -2 < 0  # 비교연산자 (1순위) 논리연산자 (2순위)

True

In [57]:
# 괄호 안이 먼저 연산
((3 < 0) and (-5 > 0)) and (1 > 5)

False

#CH.4 변수와 자료형
## 변수

In [ ]:
#단순 계산기
1 + 1

변수명 = data

In [62]:
# 변수: Variable, 데이터
a = 12
b = 200
print(a)

12

In [63]:
print(a)
print(b)

12
200

### 변수명 짓기 규칙
- snake, camel

In [67]:
# snake
num_a = 100
num_b = 110

# Camel
myStudent = "evan"
mySchool = "학교이름"

# 주의해야할 것
3star = "이장군" # 앞에 숫자가 오면 안됨
print(num_a) # 내장함수 명을 변수명으로 만들면 안됨

SyntaxError: ignored

In [68]:
num = 1
Num = 100

In [69]:
print(num)
print(Num)

1
100

In [ ]:
my student = "evan" # 변수명 작성시, 공백 있음 안됨

### 예약어는 변수명으로 이용할 수 없음
  - print, None, True, etc (p.45)

### 변수의 반대어: 상수
  - 한 번 지정 후에는 변하지 않는 고정 값

In [70]:
# 상수
pi = 3.14

In [80]:
# 실제 변수를 만들어보기
num1_str = input("숫자를 입력해주세요!!")  # 숫자를 입력해도 기본값은 문자열로 반환한다
num2_str = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [81]:
# 하고 싶은 것: 사칙연산
# 결론: 문자열 100을 숫자 100으로 변경하면 될 것 같음
# 코드를 찾기

num1 = int(num1_str)
num2 = int(num2_str)

In [82]:
print(num1 + num2)
print(num2 + num1)

300
300

In [78]:
print(type(num1)) # 문자열
print(type(num2)) # 문자열

<class 'str'>
<class 'str'>

In [72]:
# 프로그래밍 문자열로 표현하고 싶다!
"a" or '1'

''

In [ ]:
a = '100' # 문자열 100
b = '5000' # 문자열 5000

# 문자열
- ""(큰 따옴표) 또는 ''(작은 따옴표) 지정

In [85]:
a = 'Enjoy '
b = 'Python!'
print(a + b)

Enjoy Python!

In [86]:
print(a * 3)

Enjoy Enjoy Enjoy

# 리스트 (List)
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)로 표현
- 예시
  + 1반 학생들의 수학 점수
- 다중의 데이터를 묶는다

In [88]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [89]:
print(type(student1))

<class 'list'>

## 인덱싱(Indexing)
- 리스트에서 특정 데이터를 추출

In [90]:
student1

[90, 95, 85, 80]

In [91]:
student1[1]

95

In [96]:
print(student1[0]) # 숫자 0은 리스트의 첫 번째 항목 의미
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [93]:
greeting = 'Hello, Python'

In [122]:
print(greeting[7])

P

In [123]:
# Hello만 추출
print(greeting[0:5])

Hello

## 리스트 수정, 삭제

In [97]:
student1

[90, 95, 85, 80]

In [99]:
student1[0] = 100 # 새로운 데이터 할당

In [100]:
student1

[100, 95, 85, 80]

In [101]:
# 문자열, 덧셈 연산자 + 곱셈 연산자
# 리스트에 적용

myFriends = ['지원', '은주', '상미', '한솔']
newFriends = ['정인']

myFriends2 = myFriends + newFriends
print(myFriends2)

['지원', '은주', '상미', '한솔', '정인']

In [102]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [107]:
# 상미에서 '미' 추출
result = myFriends2[2]
result[1]

'미'

In [109]:
myFriends[2][1]

'미'

In [111]:
mixed = [0, 2, 3, 14, 'python', True, myFriends2]
mixed

[0, 2, 3, 14, 'python', True, ['지원', '은주', '상미', '한솔', '정인']]

In [116]:
print(mixed[4][3])
print(mixed[6][2][1])
print(mixed[-1])

h
미
['지원', '은주', '상미', '한솔', '정인']

In [117]:
mixed[-1][-1][0]

'정'

### 슬라이싱 (slicing)
- 문자열, 리스트 그 외 파이썬 거의 대부분 자료형 원리 동일 적용

In [118]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
print(list_data[0:3]) # 시작인덱스:끝인덱스-1

# 5까지 추출
print(list_data[0:6])

[0, 1, 2]
[0, 1, 2, 3, 4, 5]

In [129]:
print(list_data[0:6])
print(list_data[:6])
print(list_data[4:])  # list_data[4:10]
print(list_data[:])  # 모든 데이터 조회

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
print(list_data[::2])
print(list_data[::3])

[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [135]:
listd = [234, 435,1323, 556,4353,7768,7867, 345]

print(listd[::2])
print(listd[::3])
print(listd[::4])

[234, 1323, 4353, 7867]
[234, 556, 7867]
[234, 4353]

# 튜플(Tuple)

- 기초 문법이 중요 (면접 때 질문 받을 수 있음)
  + list와 Tuple의 차이점이 뭔가요?
- 리스트와 유사하다

In [136]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

In [140]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print(tuple_data[:5])
print(tuple_data[1:4])

(0, 1, 2, 3, 4)
(1, 2, 3)

In [143]:
l_data = [0, 1, 2, 3]  # 숫자 3대신, 30
t_data = (0, 1, 2, 3)

l_data[3] = 30
t_data[3] = 30

TypeError: ignored

- 리스트는 수정, 삭제가 잘 됨
- 튜플은 수정, 삭제가 안 됨 (지원 안함)

In [144]:
del l_data[3]
del t_data[3]

TypeError: ignored