In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [23]:
df = pd.read_excel('교재1_data/data/학생시험성적.xlsx')

In [35]:
# v
df1 = pd.read_csv('교재1_data/data/sea_rain1_from_notepad.csv', encoding="cp949")
df1.to_excel('교재1_data/data/output.xlsx')

In [26]:
#!pip install xlswriter

In [34]:
# 350p
# excel_writer = pd.ExcelWriter("data/학생시험성적2.xslx", engine = 'xslxwirter')
# df1.to_excel_writer, index=False
# excel_writer.save()

# 나중에 자동화할때 사용

In [40]:
air_quality_no2 = pd.read_csv('air_quality_no2_long.csv', parse_dates=True)

In [41]:
air_quality_no2 = air_quality_no2[["date.utc", "location",
                                   "parameter", "value"]]

In [42]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [47]:
air_quality_pm25 = pd.read_csv("air_quality_pm25_long.csv", parse_dates=True)

In [48]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location",
                                     "parameter", "value"]]

In [49]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [50]:
# 데이터 합치기
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

In [51]:
print('Shape of the ``air_quality_pm25`` table: ', air_quality_pm25.shape)

Shape of the ``air_quality_pm25`` table:  (1110, 4)

In [52]:
print('Shape of the ``air_quality_no2`` table: ', air_quality_no2.shape)

Shape of the ``air_quality_no2`` table:  (2068, 4)

In [53]:
print('Shape of the resulting ``air_quality`` table: ', air_quality.shape)

Shape of the resulting ``air_quality`` table:  (3178, 4)

In [54]:
air_quality = air_quality.sort_values("date.utc")

In [55]:
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

In [56]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])

In [57]:
air_quality_.head()

                         date.utc location parameter  value
PM25 0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
     1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
     2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
     3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
     4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [64]:
stations_coord = pd.read_csv("air_quality_stations.csv")
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [65]:
air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")

In [66]:
air_quality.head()

,date.utc,location,parameter,value,coordinates.latitude,coordinates.longitude
0,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,51.49467,-0.13193
1,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83724,2.39390
2,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83722,2.39390
3,2019-05-07 01:00:00+00:00,BETR801,pm25,12.5,51.20966,4.43182
4,2019-05-07 01:00:00+00:00,BETR801,no2,50.5,51.20966,4.43182

In [72]:
air_quality = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

In [75]:
air_quality["ratio_paris_antwerp"] = (air_quality["station_paris"] / air_quality["station_antwerp"])

In [76]:
air_quality.head()

,station_antwerp,station_paris,station_london,ratio_paris_antwerp
datetime,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN

In [81]:
# 소문자로 변경
air_quality_renamed = air_quality.rename(
    columns={
        "station_antwerp": "BETR801",
        "station_paris": "FR04014",
        "station_london": "London Westminster",})
air_quality_renamed.head()

                     BETR801  FR04014  London Westminster  ratio_paris_antwerp
datetime
2019-05-07 02:00:00      NaN      NaN                23.0                  NaN
2019-05-07 03:00:00     50.5     25.0                19.0             0.495050
2019-05-07 04:00:00     45.0     27.7                19.0             0.615556
2019-05-07 05:00:00      NaN     50.4                16.0                  NaN
2019-05-07 06:00:00      NaN     61.9                 NaN                  NaN

In [80]:
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)
air_quality_renamed.head()

                     betr801  fr04014  london westminster  ratio_paris_antwerp
datetime
2019-05-07 02:00:00      NaN      NaN                23.0                  NaN
2019-05-07 03:00:00     50.5     25.0                19.0             0.495050
2019-05-07 04:00:00     45.0     27.7                19.0             0.615556
2019-05-07 05:00:00      NaN     50.4                16.0                  NaN
2019-05-07 06:00:00      NaN     61.9                 NaN                  NaN